<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{content_for_header}}
</head>
<body>
    {% comment %} {% sections 'header-group' %} {% endcomment %}
    <h1> This is header </h1>

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    <h1> This is footer </h1>

    {% comment %} {% sections 'footer-group' %} {% endcomment %}
</body>
</html>